# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Config
application-local.yml
application-dev.yml

# Node
node_modules/
dist/
.vite/

# Environment
.env
.env.local
.env.*
!.env.example
savory-modules/src/test/jmeter/tokens.csv
